* {
    margin: 0;
    padding: 0;
}

.container__pharmacy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 3vh;
}


.custom__select {
    width: 200px;
}