* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 14px;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
}

.App {
    height: 1500px;
    display: flex;
    justify-content: center;
}